@import url('./__content/page__content.css');
@import url('./__section/page__section.css');

.page {
  background: #000;
}

/* .popup__image-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
} */