@import url(./__list/places__list.css);
@import url(./__item/places__item.css);

.places {
  font-family: 'Inter', Arial, sans-serif;
  padding: 0 0 36px;
  max-width: 880px;
  margin: 50px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 950px) {
  .places {
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
    padding: 15px 0 18px;
  }
}

@media screen and (max-width: 600px) {
  .places {
    width: calc(100% - 2*19px);
    margin-top: 36px;
    grid-template-columns: 282px;
  }
}